{% set active_page = "contribute" %}

{% extends "base.html" %}

{% block content %}

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Right Sidebar</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-md-8 maincontent">
				<header class="page-header">
					<h2>Add your own stone to the building.</h2>
				</header>
				<p>The project is far from being complete, if such a thing even exists! You can help the betterment of the surveillance of the skyes by contributing to Skyner. How? There are a few ways you can do it: by helping us refine the prediction algorithm, either through more efficient calculations or more accurate physics models (careful: the calculation time mustn't grow too much)</p>
				<p>Another way of contributing is to support the project financially: though we are not advanced enough to necessitate funds, we might soon be, at which point this option will be added to the site</p>
                <p>Finally, you can help by speaking of us to your friends and acquaintances: having more visibility will help us tremendously!</p>

				<h2>Contributing to the algoritm</h2>
				<p>To do so, you will have to take part in our Github. It's really easy: create a branch on your computer to work on, and once you are satisfied with your results push the results to the hub. Your work will then be reviewed by the current developers, and integrated to the project once approved. You can also suggest new or different ways of doing things, provided of course that you can back your ideas up with some good information or demonstration! </p>


				<blockquote>As mentionned previously, the financial support structure has yet to be created. You can however lend your talents and experience to the creation of such a platform if you feel confident and have some credentials to back it up! And if you don't, no worries: it could serve as your first experience in this field, we are in no position to be too picky!</blockquote>

				<h2>Help us put our name out there!</h2>
				<p>You find the project interesting but don't have the expertise or time to help us directly? Don't worry, there's a quick and easy way to contribute, it doesn't even cost anything! All you have to do is talk about us to friends you think would be interested: maybe they'll have it, and even if they don't, they'll have discovered something interesting and their own friends could be the one to make the next breakthrough! So help us help you and go chat with some friends, you now have a great conversation opener.</p>

            </article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-right">

				<div class="row widget">
					<div class="col-xs-12">


					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">

						<p><img src="../static/images/logo_cs.png" alt=""></p>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">

						<p><img src="../static/images/logo_cea.png"></p>
                        <p><img src="../static/images/logo_sombre.png" width="300"></p>

					</div>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	

{% endblock %}