{% set active_page = "index" %}

{% extends "base.html" %}

{% block content %}

	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">Welcome to Skyner</h1>
				<p class="tagline">Skyner-web application to support the display of data calculated by LEOCET </p>
				<p><a class="btn btn-default btn-lg" role="button" href="{{ url_for('about') }}" >MORE INFO </a> <a class="btn btn-action btn-lg" role="button" href="https://github.com/Delamea/Skyner">CONTRIBUTE NOW</a></p>
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">Track the position of satellites and debris in our 3D model</h2>
		<p class="text-muted">
			You are the owner of a satellite?<br>
			Let us warn you of incoming debris to avoid collisions!
		</p>
	</div>
	<!-- /Intro-->
		
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">
			
			<h3 class="text-center thin">Why you should trust Skyner</h3>
			
			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Powered by LEOCET</h4></div>
					<div class="h-body text-center">
						<p>LEOCET is our trajectory calculating tool. It uses the incredibly precise MIT-developed module Skyfield to run the calculations in the reliable python language. </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Efficient and Precise</h4></div>
					<div class="h-body text-center">
						<p>We use the best tools avalaible in various libraries to produce accurate results without overtaxing the computation abilities</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Creative Commons</h4></div>
					<div class="h-body text-center">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, vitae, perferendis, perspiciatis nobis voluptate quod illum soluta minima ipsam ratione quia numquam eveniet eum reprehenderit dolorem dicta nesciunt corporis?</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Client Support</h4></div>
					<div class="h-body text-center">
						<p>Our staff is always ready to answer any questions you may have and guide you through the use of our platform if you need it.</p>
					</div>
				</div>
			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Highlights -->

	<!-- container -->
	<div class="container">



		<div class="jumbotron top-space">
			<h4>Dicta, nostrum nemo soluta sapiente sit dolor quae voluptas quidem doloribus recusandae facere magni ullam suscipit sunt atque rerum eaque iusto facilis esse nam veniam incidunt officia perspiciatis at voluptatibus. Libero, aliquid illum possimus numquam fuga.</h4>
     		<p class="text-right"><a class="btn btn-primary btn-large" href="{{ url_for('about') }}" >Learn more »</a></p>
  		</div>

</div>	<!-- /container -->



{% endblock %}